*{
    font-family: 'Trebuchet MS', Tahoma, Verdana, sans-serif;
}

body{
    background-color: rgb(227, 206, 168)
}

img{
    display: block;
    width: 325px;
    margin: auto;
    margin-top: 17px;
    margin-bottom: 17px;
}

h1{
    border: 7px ridge rgb(155, 89, 2);
    background-color: blanchedalmond;
    padding: 17px;
    text-align: center;
    width: 320px;
    margin: auto;
    margin-top: 30px;
}

div{
    border: 7px ridge rgb(155, 89, 2);
    background-color: blanchedalmond;
    width: 1900px;
    margin: auto;
}

h2{
    margin-left: 100px;
}

.pizzalink{
    text-decoration: none;
    color: darkred;
}

.frylink{
    text-decoration: none;
    color: rgb(190, 102, 1);
}

p{
    margin-left: 150px;
}

ol li{
    margin-left: 150px;
    margin-right: 450px;
}

ul li{
    margin-left: 150px;
}

.Home{
   display: block;
   box-sizing: border-box;
   width: 110px;
   margin: 50px 100px;
   border-radius: 3px;
   font-size: 20px;
   text-align: center;
   text-decoration: none;
   background-color: rgb(155, 89, 2);
   padding: 10px;
   color: white
}
